html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
 /* max-width: 100%;*/
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: var(--color-white);
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanssemibold.woff2') format('woff2'),
  url('../fonts/opensanssemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansitalic.woff2') format('woff2'),
  url('../fonts/opensansitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/*globe*/

:root {
  --color-main: #9D5CD0;
  --color-dark-main: #7943A4;
  --color-light-main: #C283F3;
  --color-white-main: #D1A9F0;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #333333;
  --color-white-gray: #CACACA;
  --color-light-gray: #666666;
  --color-dark-gray: #222222;
  --color-space-gray: #999999;
  --color-gray-stone: #b7b7b7;
  --color-stone: #ECECEC;
}

.container {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper-slide {
  height: inherit;
}


.focus {
  position: relative;
  outline: none;
}

.focus:focus-visible::before {
  opacity: 1;
}

.focus:active::before {
  opacity: 0;
}

.focus:hover::before {
  opacity: 0;
}

.focus::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-bottom: 5px;
  left: -3px;
  top: 0;
  background-color: var(--color-main);
  outline: none;
  z-index: -1;
  opacity: 0;
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
}


/*header*/
.header {
  min-height: 100px;
  background-color: var(--color-black);
}

.header__container {
  margin: 0 auto;
  padding: 31px 155px 23px 160px;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  margin-right: 179px;
  margin-bottom: 0;
  width: 173px;
  cursor: pointer;
}

.header__logo:focus-visible {
  outline: 1px solid var(--color-main);
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  width: 47.5%;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-white);
  transform: translateX(-5px);
}

.header__nav-link {
  padding: 0 3px 0 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.header__nav-link:focus-visible {
  outline: none;
  background-color: var(--color-main);
}

.header__nav-link:hover {
  color: var(--color-light-main);
}

.header__nav-link:active {
  color: var(--color-dark-main);
}

.header__btn-link {
  padding: 0 5px 0 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  transition: color .3s ease-in-out;
  cursor: pointer;
}

.header__btn-link path {
  transition: fill .3s ease-in-out;
}

.header__btn-content:hover path {
  fill: var(--color-light-main);
}

.header__btn-content:active path {
  fill: var(--color-main);
}

.header__btn-content:hover {
  transform: translate(5px, -4px) scaleX(1);
  border-color: var(--color-light-main);
}

.header__btn-content:active {
  transform: translate(5px, -4px) scaleX(1);
  border-color: var(--color-main);
}

.header__btn-content:active .header__btn-link {
  color: var(--color-main);
}

.header__btn-content:hover .header__btn-link {
  color: var(--color-light-main);
}

.header__btn-content:focus-visible .header__btn-link {
  background-color: var(--color-main);
  border: none;
}

/*hero*/

.hero {
  position: relative;
  width: 100%;
}

.hero .swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.hero__slide-one {
  background-image: url(../images/hero-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide-two {
  background-image: url(../images/hero-img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide-three {
  background-image: url(../images/hero-img3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  padding: 71px 160px 119px 160px;
}

.hero__menu {
  display: flex;
  flex-direction: row;
  padding: 24px 160px 20px 153px;
  margin: 0;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero__menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  width: 66%;
  font-size: 18px;
  color: var(--color-white);
}

.hero__menu-item {
  position: relative;
  margin-right: 97px;
}

.hero__menu-link {
  padding: 0;
  padding-right: 16px;
  font-size: 18px;
  line-height: 25px;
  border: none;
  background: transparent;
  color: var(--color-white);
  transition: color .3s ease-in-out, background .3s ease-in-out, border-color .3s ease-in-out;
  cursor: pointer;
}

.hero__menu-scroll {
  display: none;
  position: absolute;
  padding: 40px 25px 40px 34px;
  max-height: 300px;
  min-width: 300px;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.4);
  transform: translateY(22px);
  z-index: 101;
}

.scroll-wrap__list {
  padding-right: 19px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-wrap__item:not(:last-child){
  margin-bottom: 20px;
}

.scroll-wrap__item {
  position: relative;
  overflow: auto;
}

.scroll-wrap__link {
  display: block;
  padding-left: 14px;
  padding-top: 11px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.scroll-wrap__link.tintoretto {
  background-image: url(../images/hero-menu-1-1.png);
}

.scroll-wrap__link.fridrich {
  background-image: url(../images/hero-menu-1-2.png);
}

.scroll-wrap__link.leonardo {
  background-image: url(../images/hero-menu-1-3.png);
}

.scroll-wrap__link.verrokko {
  background-image: url(../images/hero-menu-1-4.png);
}

.scroll-wrap__link.mone {
  background-image: url(../images/hero-menu-2-1.png);
}

.scroll-wrap__link.sisley {
  background-image: url(../images/hero-menu-2-2.png);
}

.scroll-wrap__link.mane {
  background-image: url(../images/hero-menu-2-2.png);
}

.scroll-wrap__link.mane {
  background-image: url(../images/hero-menu-2-3.png);
}

.scroll-wrap__link.renoir {
  background-image: url(../images/hero-menu-2-4.png);
}

.scroll-wrap__link.vangokh {
  background-image: url(../images/hero-menu-3-1.png);
}

.scroll-wrap__link.sezann {
  background-image: url(../images/hero-menu-3-2.png);
}

.scroll-wrap__link.gogen {
  background-image: url(../images/hero-menu-3-3.png);
}

.scroll-wrap__link.ciora {
  background-image: url(../images/hero-menu-3-4.png);
}

.scroll-wrap__link.kandinski {
  background-image: url(../images/hero-menu-4-1.png);
}

.scroll-wrap__link.marinetti {
  background-image: url(../images/hero-menu-4-2.png);
}

.scroll-wrap__link.malevich {
  background-image: url(../images/hero-menu-4-3.png);
}

.scroll-wrap__link.picasso {
  background-image: url(../images/hero-menu-4-4.png);
}

.scroll-wrap__link.karra {
  background-image: url(../images/hero-menu-5-1.png);
}

.scroll-wrap__link.pratella {
  background-image: url(../images/hero-menu-5-2.png);
}

.scroll-wrap__link.severini {
  background-image: url(../images/hero-menu-5-3.png);
}

.scroll-wrap__link.balla {
  background-image: url(../images/hero-menu-5-4.png);
}

.scroll-wrap__link::before {
  position: absolute;
  content:"";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.scroll-wrap__link::after {
  position: absolute;
  content:"";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--color-main);
  outline-offset: -2px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.scroll-wrap__link:hover::after {
  opacity: 1;
}

.scroll-wrap__link:active::before {
  opacity: 1;;
}

.scroll-wrap__link:active {
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
}

.scroll-wrap__link:active::before {
  opacity: 1;
}

.scroll-wrap__link:focus-visible::after {
  opacity: 1;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track {
  right: 0px;
}

.simplebar-track.simplebar-vertical {
  top: 0px;
  width: 2px;
  background-color: var(--color-black);
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  border-radius: 0;
  background-color: var(--color-white);
  opacity: 1;
}

.activ + .hero__menu-scroll {
  display: block;
}

.hero__menu-link:focus-visible {
  background-color: var(--color-dark-main);
  outline: none;
}

.hero__menu-link:hover {
  color: var(--color-main);
}

.hero__menu-link:hover::after {
  border-color: var(--color-main);
}

.hero__menu-link:focus-visible::after{
  border-color: var(--color-white);
}

.hero__menu-link.focus:hover::before {
  background: transparent;
}

.hero__menu-link.focus:hover::after {
  color: var(--color-main);
  border-color: var(--color-main);
}

.hero__menu-link:active, .nav-direction__link:active::after {
  outline: none;
  color: var(--color-dark-main);
  border-color: var(--color-dark-main);
  background-color: transparent;
}

.hero__menu-link.focus:active::before {
  background-color: transparent;
}

.hero__menu-link::after {
  position: absolute;
  display: inline-block;
  content: '';
  left: calc(100% - 11px);
  top: 35%;
  width: 7px;
  height: 7px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--color-white);
  transform: rotate(-45deg);
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.hero__menu-link.activ::after {
  transform: rotate(135deg);
  top: 45%;
}

.hero__search-btn {
  border: none;
  margin-right: 6px;
  width: 31px;
  background-color: initial;
  cursor: pointer;
}

.hero__search-btn:focus-visible {
  outline: 2px solid var(--color-main);
}

.hero__search-input {
  width: 218px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background-color: initial;
  transform: translateY(-6px);
  cursor: pointer;
}

.hero__search-input:focus-visible::placeholder {
  font-size: 0;
}

.hero__search-input:focus-visible {
  outline: none;
  caret-color: var(--color-white);
  border-bottom: 1px solid var(--color-dark-main);
  transition: all .3s ease-in-out;
}

.hero__search-input:hover {
  border-bottom: 1px solid var(--color-light-main);
  transition: all .3s ease-in-out;
}

.hero__search-input:active {
  border-bottom: 1px solid var(--color-light-main);
  transition: all .3s ease-in-out;
}

.hero__search-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 597px;
  width: 100%;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  line-height: 82.8px;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 91px;
  max-width: 560px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  position: relative;
  padding: 25px 35px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  background-color: var(--color-main);
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition: .2s ease-in-out;
}

.outline-focus {
  outline: none;
}

.outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: inherit;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.outline-focus:before {
  background-color: transparent;
  border: 2px solid var(--color-light-main);
  border-radius: 100px;
}

.hero__main-content {
  position: relative;
  overflow: hidden;
}

.outline-focus:focus-visible:before {
  opacity: 1;
}

.outline-focus:hover:not(:focus-visible) {
  padding: 19.5px 32px;
  background: var(--color-main);
  border: 3px solid var(--color-white-main);
}

.outline-focus:active:not(:focus-visible),
.outline-focus.hero__btn-active:active {
  padding: 20.5px 33px;
  border: 2px solid var(--color-light-main);
  background-color: var(--color-dark-main);
}

/*about-us*/
.about-us {
  padding: 85px 160px 71px 160px;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.about-us__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-gray);
}

.about-us__descr {
  margin: 0;
  max-width: 1090px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
}

/*gallery*/
.gallery {

  width: 100%;
  background-image: url(../images/gallery-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__content {
  padding: 86px 157px 74px 160px;
  display: flex;
  flex-direction: row;
}

.gallery__block-left {
  margin-right: auto;
  max-width: 25%;
  width: 100%;
}

.gallery__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 26px;
  color: var(--color-white);
}

.gallery__select-label {
  display: block;
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.gallery__select {
  margin-bottom: 180px;
}

.choices {
  margin-bottom: 183px;
  width: 100%;
  color: var(--color-white);
  font-size: 16px;
  appearance: none;
}

.choices__inner {
  padding: 7.5px 12.5px 3.75px;
  border-radius: 6px;
  color: var(--color-white);
  background-color: inherit;
  cursor: pointer;
}

.choices[data-type*=select-one]::after {
  content: url(../images/gallery-select-arrow.svg);
  top: 33%;
  right: 26.5px;
  border-style: none;
}

.choices__list {
  border-radius: 6px;
  background-color: initial;
  cursor: pointer;
}

.choices__item.choices__placeholder {
  color: var(--color-white);
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: rgba(153, 153, 153, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

.choices.is-focused.is-open .choices__inner {
  border-radius: 6px;
}

.choices.is-focused.is-open .choices::after {
  transform: rotate(180deg);
}

#choices--selectCastom-item-choice-1 {
  display: none;
}

#choices--selectCastom-item-choice-3:hover,
#choices--selectCastom-item-choice-4:hover {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
}

#choices--selectCastom-item-choice-3:hover {
  border-bottom: 1px solid var(--color-space-gray);
}

#choices--selectCastom-item-choice-4:hover {
  border-top: 1px solid var(--color-space-gray);
}

.choices__inner:hover,
.choices__inner:focus {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__checkbox {
  position: relative;
  display: block;
  font-size: 16px;
  color: var(--color-white);
}

.gallery__checkbox:not(:last-child) {
  margin-bottom: 13px;
}

.checkbox {
  appearance: none;
}

.gallery__input {
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  outline: 1px solid var(--color-white);
  box-sizing: border-box;
  cursor: pointer;
}

.gallery__input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  opacity: 0;
  outline: 1px solid var(--color-light-main);
  background-image: url(../images/gallery-checkbox-img.svg);
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity .3s ease;
}

.checkbox:checked ~ .gallery__input::before {
  opacity: 1;
}

.checkbox:checked + .gallery__text {
  color: var(--color-light-main);
}

.checkbox:hover + .gallery__text,
.checkbox:focus + .gallery__text {
  color: #C283F3;
  transition: all .2s ease-in-out;
}

.checkbox:hover ~ .gallery__input,
.checkbox:focus ~ .gallery__input {
  outline: 1px solid #C283F3;
}

.gallery__text {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 23px;
  width: auto;
  height: inherit;
  cursor: pointer;
}

.gallery__block-right {
  position: relative;
  padding-top: 20px;
  width: 72%;
  height: 100%;
}

.gallery__swiper {
  width: 100%;
  height: 356px;
  overflow: hidden;
  z-index: 1;
}

.gallery__swiper-img-one,
.gallery__swiper-img-two,
.gallery__swiper-img-three,
.gallery__swiper-img-four,
.gallery__swiper-img-five,
.gallery__swiper-img-six {
  padding: 0;
  width: 350px;
  height: 350px;
  border: none;
  outline: none;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.gallery__swiper-img-one {
  background-image: url(../images/gallery-swiper-one.jpg);
}

.gallery__swiper-img-two {
  background-image: url(../images/gallery-swiper-two.jpg);
}

.gallery__swiper-img-three {
  background-image: url(../images/gallery-swiper-three.jpg);
}

.gallery__swiper-img-four {
  background-image: url(../images/gallery-swiper-four.jpg);
}

.gallery__swiper-img-five {
  background-image: url(../images/gallery-swiper-five.jpg);
}

.gallery__swiper-img-six {
  background-image: url(../images/gallery-swiper-six.jpg);
}

.gallery__swiper-button-prev {
  margin-right: 66px;
  margin-bottom: 29px;
  padding: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
  border: none;
  border-radius: 100%;
  background-color: var(--color-light-gray);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.gallery__swiper-button-next {
  padding: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
  border: none;
  border-radius: 100%;
  background-color: var(--color-light-gray);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.gallery__swiper-pagination {
  position: absolute;
  left: 48px;
  top: 28px;
  display: block;
  width: 47px;
  height: 23px;
  color: var(--color-white);
  font-size: 16px;
}

.gallery__swiper-button-prev:focus-visible,
.gallery__swiper-button-next:focus-visible {
  outline: none;
  border: 2px solid var(--color-black);
}

.gallery__swiper-button-prev:hover,
.gallery__swiper-button-next:hover {
  fill: var(--color-main);
}

.gallery__swiper-button-prev:active,
.gallery__swiper-button-next:active {
  border: 2px solid var(--color-black);
  background-color: var(--color-dark-main);
}

.gallery__swiper-button-prev.swiper-button-disabled,
.gallery__swiper-button-next.swiper-button-disabled {
  opacity: .5;
} 

.gallery__swiper-img-one:focus-visible,
.gallery__swiper-img-two:focus-visible,
.gallery__swiper-img-three:focus-visible,
.gallery__swiper-img-four:focus-visible,
.gallery__swiper-img-five:focus-visible,
.gallery__swiper-img-six:focus-visible {
  outline: 3px solid var(--color-dark-main);
  outline-offset: -3px;
}

.gallery__swiper-img-one,
.gallery__swiper-img-two,
.gallery__swiper-img-three,
.gallery__swiper-img-four,
.gallery__swiper-img-five,
.gallery__swiper-img-six {
  position: relative;
  transition: all opacity .3s ease-in-out;
}

.gallery__swiper-img-one::before,
.gallery__swiper-img-two::before,
.gallery__swiper-img-three::before,
.gallery__swiper-img-four::before,
.gallery__swiper-img-five::before,
.gallery__swiper-img-six::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 7px;
  width: 95%;
  height: 95%;
  z-index: 1;
  background-image: url(../images/gallery-hover.png);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__swiper-img-one:hover:before,
.gallery__swiper-img-two:hover:before,
.gallery__swiper-img-three:hover:before,
.gallery__swiper-img-four:hover:before,
.gallery__swiper-img-five:hover:before,
.gallery__swiper-img-six:hover:before {
  opacity: 1;
}

.gallery__swiper-img-one::after,
.gallery__swiper-img-two::after,
.gallery__swiper-img-three::after,
.gallery__swiper-img-four::after,
.gallery__swiper-img-five::after,
.gallery__swiper-img-six::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__swiper-img-one:active,
.gallery__swiper-img-two:active,
.gallery__swiper-img-three:active,
.gallery__swiper-img-four:active,
.gallery__swiper-img-five:active,
.gallery__swiper-img-six:active {
  outline: 2px solid var(--color-white-main);
  outline-offset: -2px;
}

.gallery__swiper-img-one:active:after,
.gallery__swiper-img-two:active:after,
.gallery__swiper-img-three:active:after,
.gallery__swiper-img-four:active:after,
.gallery__swiper-img-five:active:after,
.gallery__swiper-img-six:active:after {
  opacity: 1;
}

.gallery__swiper-img-one:active::before,
.gallery__swiper-img-two:active::before,
.gallery__swiper-img-three:active::before,
.gallery__swiper-img-four:active::before,
.gallery__swiper-img-five:active::before,
.gallery__swiper-img-six:active::before {
  opacity: 1;
}

/*catalog*/

.catalog {
  padding: 86px 160px 80px 160px;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.catalog__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  color: var(--color-gray);
}

.catalog__descr {
  margin: 0;
  margin-bottom: 42px;
  max-width: 1080px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
}

.catalog__content {
  width: 100%;
}

.tabs-item__title,
.tabs-item__title-X {
  position: relative;
  padding-top: 500px;
  margin: 0;
  max-width: 800px;
  font-size: 24px;
  font-weight: 600;
}

.tabs-item__title {
  margin-bottom: 32px;
}

.tabs-item__title-X {
  margin-bottom: 15px;
}

.tabs-item__title::before,
.tabs-item__title-X::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 105%;
  height: 470px;
  background-repeat: no-repeat;
  background-size: contain;
}

.tabs-item__title::before {
  background-image: url(../images/catalog-img.jpg);
}

.tabs-item__title-X::before {
  background-image: url(../images/catalog-imgX.png);
}

.tabs-item__descr,
.tabs-item__descr-X {
  position: relative;
  margin: 0;
  max-width: 749px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-space-gray);
}

.tabs-item__descr-X {
  margin-bottom: 15px;
}

.tabs-item__descr::after {
  content: '2 июня 1448 — 11 января 1494.';
  position: absolute;
  top: -30px;
  left: 0;
  width: auto;
  height: auto;
  font-size: 12px;
  color: var(--color-space-gray);
}

.accordion {
  position: relative;
  padding-left: 50%;
  width: 100%;
}

.accordion__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  border-top: 1px solid var(--color-white-gray);
  border-bottom: 1px solid var(--color-white-gray);
  transition: all .2s ease-in-out;
}

.accordion__date {
  margin-right: auto;
}

.accordion__title:focus-visible {
  outline: none;
  color: var(--color-white);
}

.accordion__title:focus-visible span {
  background-color: var(--color-main);
}

.accordion__title:focus-visible path,
.accordion__title:hover path {
  fill: var(--color-white-main);
}

.accordion__title:hover {
  color: var(--color-main);
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.ui-state-active.accordion__title {
  color: var(--color-dark-main);
  border-top: 1px solid var(--color-dark-main);
  border-bottom: 1px solid var(--color-dark-main);
}

.ui-state-active.accordion__title svg {
  border-radius: 100%;
  border: 2px solid var(--color-main);
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
}

.ui-state-active.accordion__title svg {
  border-radius: 100%;
  border: 2px solid var(--color-main);
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
}

.ui-state-active.accordion__title path {
  fill: var(--color-white-main);
}

.accordion__item-content {
  position: relative;
  padding: 80px 0 80px 300px;
  max-width: calc(300px + 275px);
  width: 100%;
}

.accordion__item-content::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 13px;
  width: 251px;
  height: 165px;
  outline-offset: 12px;
  outline: 2px solid var(--color-gray-stone);
  background-color: var(--color-gray-stone);
}

.accordion__item-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-gray);
}

.accordion__item-descr {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-gray);
}

.accordion__item-link,
.tabs-item__link {
  color: var(--color-dark-main);
}

.tabs-nav__item {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  color: var(--color-gray);
}

.tabs-nav {
  padding: 32px 70px 16px 0;
  display: flex;
  flex-flow: column wrap;
  height: 340px;
}

.tabs-nav__btn {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  border: none;
  color: var(--color-gray);
  background-color: inherit;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.tabs-nav__btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-main);
  outline: none;
}

.tabs-nav__btn:hover {
  margin-bottom: 12px;
  color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.tabs-nav__btn:active {
  color: var(--color-dark-main);
}

.tabs-item__content,
.tabs-item__content-X {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 47%;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

/*events*/

.events__content {
  padding: 7px 4% 62px 4%;
  width: 100%;
}

.events__title {
  margin: 0;
  margin-bottom: 16px;
  max-width: 205px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-gray);
  transform: translateX(82px);
}

.events__swiper {
  position: relative;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1665px;
  width: 100%;
  min-height: 702px;
  height: 100%;
  overflow: hidden;
}

.events__swiper-slide {
  max-width: 500px;
  width: 100%;
  min-height: 700px;
  height: 100%;
  border: 1px solid var(--color-white-gray);
  background-repeat: no-repeat;
  background-position: top;
}

.events__swiper-one {
  background-image: url(../images/events-img1.png);
}

.events__swiper-two {
  background-image: url(../images/events-img2.png);
}

.events__swiper-three {
  background-image: url(../images/events-img3.png);
}

.events__swiper-four {
  background-image: url(../images/events-img4.png);
}

.events__swiper-five {
  background-image: url(../images/events-img5.png);
}

.swiper-slide__content {
  display: flex;
  flex-direction: column;
  padding: 313px 10% 47px 10%;
  min-height: 340px;
  height: 100%;
}

.swiper-slide__img-descr {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-space-gray);
}

.swiper-slide__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-gray);
}

.swiper-slide__descr {
  margin: 0;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
}

.swiper-slide__link {
  display: block;
  margin: 0;
  width: fit-content;
  font-size: 16px;
  color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
  transition: all .2s ease-in-out;
}

.swiper-slide__link.focus:focus-visible {
  color: var(--color-white);
  background-color: var(--color-main);
  outline: none;
  border-bottom: 1px solid var(--color-white);
}

.swiper-slide__link:hover {
  color: var(--color-dark-main);
  border-bottom: 1px solid var(--color-dark-main);
}

.swiper-slide__link:active {
  color: var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

.events__swiper-button-next {
  position: absolute;
  top: 46.2%;
  right: 0.6%;
  padding: 0;
  width: 52px;
  height: 52px;
  z-index: 10;
  border-radius: 100%;
  border: none;
  background-color: inherit;
  transition: all .2s ease-in-out;
}

.events__swiper-button-prev {
  position: absolute;
  top: 46.2%;
  left: 0.6%;
  padding: 0;
  width: 52px;
  height: 52px;
  z-index: 10;
  border-radius: 100%;
  border: none;
  background-color: inherit;
  transform: rotate(180deg);
  transition: all .2s ease-in-out;
}

.events__swiper-button-next:focus-visible,
.events__swiper-button-prev:focus-visible {
  outline: 2px solid var(--color-main);
  outline-offset: -2px;
  border-radius: 100%;
}

.events__swiper-button-next:hover path,
.events__swiper-button-prev:hover path {
  fill: var(--color-main);
}

.events__swiper-button-next:active path,
.events__swiper-button-prev:active path {
  fill: var(--color-dark-main);
}

.events__swiper-button-next:active,
.events__swiper-button-prev:active {
  outline: 2px solid var(--color-black);
  outline-offset: -2px;
  border-radius: 100%;
}

.events__swiper-button-next.swiper-button-disabled,
.events__swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/*projects*/

.projects__content {
  padding: 20px 160px 80px 160px;
}

.projects__title {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-gray);
}

.projects__descr {
  margin: 0;
  margin-bottom: 22px;
  max-width: 1075px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-gray);
}

.projects__descr-marker {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: translate(0px, 3px);
  z-index: 1;
}

.projects__descr-marker:hover svg,
.projects__descr-marker:focus svg {
  fill: var(--color-white-main);
  transition: all .3s ease-in-out;
}

.projects__descr-marker:active svg {
  fill: var(--color-main);
  transition: all .3s ease-in-out;
}

.projects__descr-marker:active #i-one,
.projects__descr-marker:active #i-two,
.projects__descr-marker:active #i-three {
  fill: var(--color-white);
  transition: all .3s ease-in-out;
}

.projects__descr-marker:hover,
.projects__descr-marker:active,
.projects__descr-marker:focus,
.projects__descr-marker:hover path,
.projects__descr-marker:focus path,
.projects__descr-marker:active path {
  outline: none;
}

.tippy-box[data-theme~='custom'] {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--color-main);
  color: var(--color-white);
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-main);
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--color-main);
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--color-main);
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--color-main);
}

.projects__descr-link {
  color: var(--color-main);
  transition: all .2s ease-in-out;
}

.projects__descr-link:focus-visible {
  color: var(--color-white);
  background-color: var(--color-main);
  outline: none;
}

.projects__descr-link:hover {
  color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.projects__descr-link:active {
  color: var(--color-dark-main);
  border-bottom: 1px solid var(--color-dark-main);
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-gray);
}

.projects__swiper {
  position: relative;
  margin: 0 auto;
  width: 90.6%;
  max-height: 152px;
  height: 100%;
  overflow: hidden;
}

.projects__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  outline: 1px solid var(--color-white-gray);
  outline-offset: -1px;
  transition: all .2s ease-in-out;
}

.projects__link-img {
  filter: grayscale(100);
  opacity: 50%;
  transition: all .2s ease-in-out;
}

.projects__link:hover .projects__link-img,
.projects__link:active .projects__link-img {
  filter: grayscale(0);
  opacity: 1;
}

.projects__link:focus-visible, 
.projects__link:active {
  outline: 1px solid var(--color-main);
}

.projects__swiper-button-prev {
  position: absolute;
  top: 74%;
  left: 160px;
  padding: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
  border: none;
  background-color: inherit;
  background-image: url(../images/projects-swiper-btn-prev.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__swiper-button-next {
  position: absolute;
  top: 74%;
  right: 160px;
  padding: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
  border: none;
  background-color: inherit;
  background-image: url(../images/projects-swiper-btn-next.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*contacts*/

.contacts__main-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 43px 158px 34px 159px;
  border: 1px solid var(--color-white-gray);
}

.contacts__title {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-gray);
}

.contacts__descr {
  font-style: normal;
  font-size: 16px;
  color: var(--color-gray);
}

.contacts__form-action {
  display: flex;
  flex-direction: row;
  max-width: 907px;
  height: 50px;
}

.contacts__input {
  margin-right: 20px;
  padding: 9px 33px 9px 24px;
  width: 270px;
  height: 50px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-space-gray);
  border: 1px solid var(--color-gray);
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.contacts__input:focus-visible,
.contacts__input:hover {
  color: var(--color-space-gray);
  background-color: var(--color-white-gray);
  outline: none;
}

.contacts__form-input {
  position: relative;
}
 
.js-validate-error-label {
  max-width: fit-content;
  visibility: hidden;
}

.js-validate-error-label::before {
  content: 'Недопустимый формат';
  position: absolute;
  visibility: visible;
  top: -20px;
  left: 25px;
  color: #D11616;
  font-size: 12px;
  Line-height: 16px;
}

.contacts__form-btn {
  position: relative;
  padding: 13px 32px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-main);
  border-radius: 100px;
  border: 2px solid var(--color-main);
  background-color: var(--color-white);
  transition: all .2s ease-in-out;
}

.contacts__outline-focus {
  outline: none;
}

.contacts__outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: var(--color-main);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.contacts__outline-focus:before {
  background-color: transparent;
  border: 2px solid var(--color-light-main);
  border-radius: 100px;
}


.contacts__outline-focus:focus-visible:before {
  opacity: 1;
}

.contacts__outline-focus:hover:not(:focus-visible) {
  padding: 12px 38px;
  color: var(--color-white);
  background: var(--color-main);
  border: 3px solid var(--color-light-main);
}

.contacts__outline-focus:active:not(:focus-visible),
.contacts__outline-focus.contacts__form-btn:active {
  padding: 13px 39px;
  border: 2px solid var(--color-light-main);
  color: var(--color-white);
  background-color: var(--color-dark-main);
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
}

.contacts__social-one {
  margin-right: 16px;
}

.contacts__social-one:focus-visible,
.contacts__social-one:hover,
.contacts__social-two:focus-visible,
.contacts__social-two:hover {
  filter: opacity(0.5);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.contacts__social-one:active .contacts__icon-one,
.contacts__social-two:active .contacts__icon-two {
  outline: 1px solid var(--color-main);
  outline-offset: -1px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.contacts__map {
  width: 100%;
  min-height: 700px;
  height: 100%;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

.ymaps-2-1-79-controls__toolbar_left {
  display: none;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

.ymaps-2-1-79-controls__bottom {
  display: none;
}

.ymaps-2-1-79-copyright .ymaps-2-1-79-copyright_logo_no {
  display: none;
}

.ymaps-2-1-79-copyright__link {
  display: none;
}

.ymaps-2-1-79-controls__control {
  display: none;
}

.ymaps-2-1-79-copyright .ymaps-2-1-79-copyright_logo_no {
  display: none;
}

.ymaps-2-1-79-zoom__scale {
  display: none;
}

/*footer*/

.footer {
  padding: 48px 161px 24px 160px;
  min-height: 100px;
  background-color: var(--color-black);
}

.footer__container {

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
}

.footer__logo {
  margin-right: 179px;
  margin-bottom: 0;
  width: 173px;
}

.footer__logo-link:focus-visible {
  outline: 2px solid var(--color-main);
  transition: all 0.2s ease-in-out;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 175px;
}

.footer__social-link:focus-visible path,
.footer__social-link:hover path {
  fill: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.footer__social-link:focus-visible {
  outline: none;
}

.footer__social-link:active path {
  fill: var(--color-main);
  transition: all 0.2s ease-in-out;
}